*{
    padding: 0px;
    margin: 0px;
}
.bg{
    background-color: rgb(3, 32, 57);
    background-image: url(../images/bg.jpg);
    
}
.title{
    color: rgb(255, 255, 255);
    text-align: center;
    /* line-height: ; */
    padding-top: 1%;
    /* background-color: rgba(145, 195, 239, 0.395); */
    height: 9%;
    width: 90%;
    margin-left: 5%;
    
}
/* left div */
.leftDiv{
    height: 83%;
    width: 45%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    
    /* background-color: rgba(250, 235, 215, 0.369); */
}
/* 地图 */
.leftDiv_top{
    width: 100%;
    height: 68%;
    /* margin: 2% 2% 2% 0%; */
    /* background-image: url(/images/map.png); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(127, 255, 212, 0.389); */
}
.leftDiv_left{
    width: 49%;
    height: 30%;
    margin-top: 2%;
    float: left;
    background-image: url(../images/map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(193, 168, 137, 0.44); */
}
.leftDiv_right{
    width: 49%;
    height: 30%;
    margin-top: 2%;
    margin-left: 2%;
    float: right;
    background-image: url(../images/map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(189, 144, 90, 0.44); */
}


/* right div */
.rightDiv{
    height: 83%;
    width: 43%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    /* background-color: rgba(127, 255, 212, 0.359); */
}
.rightDiv_left{
    width: 48%;
    height: 68%;
    float: left;
    margin-right: 2%;
    /* background-color: rgba(0, 0, 0, 0.34); */
}
.rightDiv_left_top{
    width: 100%;
    height: 48%;
    background-image: url(../images/map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(240, 248, 255, 0.405); */
}
.rightDiv_left_bot{
    width: 100%;
    height: 48%;
    margin-top: 7%;
    color: #fff;
    text-indent: 1em;
    line-height: 2em;
    background-image: url(../images/map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(40, 77, 110, 0.405); */
}
.API_ZXun{
    line-height: 2em;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}
#scroll {
    /* margin: 0; */
    margin-top: 5%;
    /* padding: 2px 0; */
    list-style: none;
    width: 90%;
    height: 70%;
    overflow: hidden;
    /* border: 1px #e5e5e5 solid; */
    font-size: 16px;
    color: #f0f0f0;
    /* background-image: url("/images/p.png"); */
}

#scroll li {
    margin: 0;
    /* padding: 0 4px; */
    font-size: 0.5rem;
    height: 4em;
    line-height: 4em;
    width: 100%;
}

.rightDiv_right{
    width: 48%;
    margin-left: 2%;
    height: 68%;
    float: left;
    background-image: url(../images/arightboxtop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgba(126, 43, 43, 0.34); */
}
.rightDiv_bottom{
    width: 100%;
    height: 30%;
    margin-top: 2%;
    float: left;
    background-image: url(../images/rightDiv_bottom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
